<header class = "jumbotron">
  <h1>Super Rentals</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer class="container">
  {{#link-to 'index'}}Index{{/link-to}}
  <br>
  {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  <br>
  {{#link-to 'about'}}About{{/link-to}}
</footer>
